/*
    Document   : ie
    Created on : 30-jun-2013, 23:32:12
    Author     : Emmanuel_Leonie
    Description:
        Purpose of the stylesheet follows.
*/
ul.dropdown ul li					{ display: inline; width: 100%; } 